<header>
    {{!-- <div style="width: 100%;">
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png" alt="Epic Meals" width="65" height="65">
            </a>
        </div>
        <div>
            <ul class="navbar">
                <li id="logo-title">Healthy Living</li>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/login">Log in</a></li>
                <li><a href="/registration">Sign up</a></li>
                <li><a href="/on-the-menu">On The Menu</a></li>
            </ul>
        </div>
    </div> --}}

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid px-0">
            <a class="navbar-brand mx-3" href="/">
                <img src="/images/logo.png" alt="HealthyLiving" width="65" height="65">
                HealthyLiving
            </a>
            
            <span></span>
            <button class="navbar-toggler me-3 my-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    {{#if user}}
                    <li class="nav-item">
                        <a class="nav-link px-5" href="/dashboard">{{user.firstName}}'s Dashboard</a>
                    </li>
                    {{/if}}
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link px-5" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-5" href="/on-the-menu">On The Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-5" href="/user/login">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-5" href="/user/registration">Sign Up</a>
                    </li>
                    {{#if user}}
                    <li class="nav-item">
                        <a class="nav-link px-5" href="/user/logout">Log Out</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</header>